<div class="container-fluid">
  <h3 class="h3">{{ 'PRODUCTS.TITLE' | translate }}</h3>
  <p>{{ 'PRODUCTS.SUBTITLE' | translate }}</p>
  <app-product-list-result class="row"></app-product-list-result>
</div>
