:root {
  --middleHeight: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.Container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar-container {
  flex: 0;
}

.sidebar {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-container {
  max-height:100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: 3;
  margin: 20px 20px 0 0px;
  overflow: auto;
  overflow-x:hidden;
}

.router-outlet {
  flex-basis: 100%;
  position: relative;
  height: var(--middleHeight);
}

#languageSelector {
  top: 10px;
  right: 50px;
  position: absolute;
  @media only screen and (max-width: 760px) {
    top: 15px;
    right: 15px;
  }
  transition: all 0.2s ease-in;
}

