
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="loginPage" *ngIf="isLoggedIn();else loginPage">
  <i class="fa fa-lock fa-5x" aria-hidden="true"></i>
  <h1>
    {{ 'LOGIN.LOGGEDIN' | translate }}
  </h1>
  <div id="userDetails" class="userDetails">
    <label>
      <b>{{ 'LOGIN.USERNAME' | translate }}: </b>{{getLoggedInUsername()}}
    </label>
  </div>
  <button id="logoutBtn" type="button" class="btn btn-primary" (click)="logout()">{{'LOGIN.LOGOUT' | translate}}</button>
</div>

<ng-template #loginPage>
  <form class="form-login loginPage">

    <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
    <h1 class="h3 font-weight-normal mb-3">{{ "LOGIN.PLEASE_LOGIN" | translate }}</h1>

    <div class="col-sm-10 col-centered loginFields">
        <div class="form-group row">
          <input type="text" id="username" name="username" class="form-control" placeholder="{{'LOGIN.USERNAME' | translate}}" [(ngModel)]="loginData.username" #username="ngModel" required autofocus>
        </div>
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger" role="alert">
          <div id="usernameErrorMsg" *ngIf="username.errors.required">
              {{ 'LOGIN.PASSWORD_REQUIRED' | translate }}
          </div>
        </div>
        <div class="form-group row">
          <input type="password" id="password" name="password" class="form-control" placeholder="{{'LOGIN.PASSWORD' | translate}}" [(ngModel)]="loginData.password" required #password="ngModel">
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger" role="alert">
          <div id="passwordErrorMsg" *ngIf="password.errors.required">
            {{ 'LOGIN.PASSWORD_REQUIRED' | translate }}
          </div>
        </div>
        <button id="loginBtn" class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()">{{ 'LOGIN.LOGIN' | translate }}</button>
    </div>
    <p class="mt-5 mb-3 text-muted">Yang Lin & Denzel Van Belle © 2017-2018</p>
  </form>
</ng-template>
