.loginPage {
  width: 100%;
  max-width: 500px;
  padding: 85px 15px;
  margin: 100px auto;
  text-align: center;
  border-radius: 30px;
  background-color: #e3f2fd;
  
  .loginFields{
    margin: 30px auto;
  }
  .userDetails {
    margin: 20px auto;
  }
  .col-centered{
    float: none;
  }
}

