<div class="table-responsive mt-2 table-noscrollbar example-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>


  <div class="table-filter">
    <input class="form-control" matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'PRODUCTS.FILTER' | translate}}">

    <div *ngIf="productTypes !== null" class="btn-group btn-group-toggle row filterProducts" name="filters" ngbRadioGroup>
      <label *ngFor="let type of productTypes" ngbButtonLabel class="btn btn-outline-info mr-2 mb-md-0 mb-1 btnNoBorder filterProducts-button"
        [ngClass]="getTypeClass(type)">
        <input ngbButton type="radio" [value]="type" (click)="applyFilter(type)"> {{'PRODUCTS.TYPES.' + type | translate}}
      </label>
      <button type="button" class="btn btn-outline-dark mr-2 mb-md-0 mb-1 filterProducts-button" (click)="applyFilter('')">Reset</button>
    </div>
    <div (click)="addNewProduct()" class="btnNew">
      <i class="fa fa-plus"></i>
    </div>
  </div>

  <ngx-datatable #table class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="70" [footerHeight]="50" [limit]="10"
    [rowHeight]="'auto'">

    <!-- Quicklink Column-->
    <ngx-datatable-column name="quicklink" headerClass="Datatable-header" cellClass="Datatable-cell">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()" class="columnHeader">{{ 'PRODUCTS.QUICKLINK_COLUMN' | translate }}</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div class="columnRow">
          <strong>{{value}}</strong>
        </div>
      </ng-template>
    </ngx-datatable-column>


    <!-- Naam Column -->
    <ngx-datatable-column name="name" headerClass="Datatable-header" cellClass="Datatable-cell">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()" class="columnHeader">{{ 'PRODUCTS.NAME_COLUMN' | translate }}</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div class="columnRow">
          {{value}}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <!-- Prijs Column -->
    <ngx-datatable-column name="price" headerClass="Datatable-header" cellClass="Datatable-cell">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()" class="columnHeader">{{ 'PRODUCTS.PRICE_COLUMN' | translate }}</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div class="columnRow">
          {{value}}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <!-- Type Column -->
    <ngx-datatable-column name="type" headerClass="Datatable-header" cellClass="Datatable-cell">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()" class="columnHeader">{{ 'PRODUCTS.TYPE_COLUMN' | translate }}</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div class="columnRow">
          <div [ngClass]="getTypeClass(value)" class="col-6 badge">
            {{'PRODUCTS.TYPES.' + value | translate}}
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>



    <!-- Actions Column-->
    <ngx-datatable-column name="actions" headerClass="Datatable-header" cellClass="Datatable-cell">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span class="columnHeader">{{ 'PRODUCTS.ACTIONS_COLUMN' | translate }}</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div class="columnRow">
          <button class="btn btn-warning btn-sm" (click)="openProductDetail(row)">
            <i class="fa fa-wrench" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-danger btn-sm" (click)="openDeleteProductConfirm('ben je zeker om ' + row['name'] + ' te verwijderen?', row)">
            <i class="fa fa-trash-o" style="color: white"></i>
          </button>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
