.material {
    width: 90%;
    position: absolute;
    margin: 10px 30px;
    .Datatable-cell {
        text-align: center;
    }
    .Datatable-header {
        border: 0;
        border-bottom: 1px solid grey;
        background-color: lightgrey;
        cursor: pointer;
    }
    .columnHeader {
        display: flex;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        padding-top: 10px;
    }
    .columnRow {
        width: 100%;
        text-align: center;
    }
}

.table-noscrollbar::-webkit-scrollbar {
    display: none;
}

.table-filter {
    min-height: 64px;
    padding: 8px 24px 0;
    margin: 10px 0px;
    width: 90%;
    position: relative;
}

.filterProducts {
    margin: 15px;
    .filterProducts-button {
        margin-top: 20px;
    }
}

.btnNew {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #4b86e5;
    position: absolute;
    bottom: 10px;
    right: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
    @media only screen and (max-width: 1000px) {
        right: 0;
    }
    transition: right 0.5s ease-in;
    i {
        color: white;
        margin-top: 13px;
        margin-left: 2px;
        font-size: 2.5em;
    }
}

.badge {
    font-size: 100%;
}

.btnNoBorder {
    border: none;
}
