.btnNew {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: #4b86e5;
  position: absolute;
  bottom: 10px;
  right: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  cursor: pointer;
  @media only screen and (max-width: 1000px) {
    right: 0;
  }
  transition: right 0.5s ease-in;
  i {
    color: white;
    margin-top: 13px;
    margin-left: 2px;
    font-size: 2.5em;
  }
}

.table-filter {
  min-height: 64px;
  padding: 8px 24px 0;
  margin: 10px 0px;
  width: 90%;
  position: relative;
}
