.navContainer {
  background-color: #e3f2fd;
  height: 100%;
  color: #007bff;
  -webkit-transition: width 0.15s; /* Safari */
    transition: width 0.15s;
    &.active {
      z-index: 3;
    }
  .navContent {
    min-width: 100%;
    overflow-x: hidden;
    .loginIcon {
      width: 100%;
      margin-top: 10px;
      text-align: center;
      bottom: 20px;
      position: fixed;
    }
    .menuItems {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      mat-list-item:hover {
        color: white;
        background-color: #007bff;
      }
      .listItem {
        width: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        span {
          padding-left: 10px;
          flex: 2;
          display: flex;
          align-items: center;
          font-size: 1.2em;
        }

        i {
          text-align: center;
          flex: 1;
        }
      }
    }
  }
}

.navbar-toggler {
  outline: none;
  margin-top: 20px;
  color: #007bff;
}
.darken {
  z-index: 2;
  opacity: 0.5;
  position:fixed;
  height: 5000px;
  width: 5000px;
  top: 0;
  left: 0;
  background-color: black;
}

@media only screen and (max-height: 600px) {

  .listItem {
      font-size: 70%;
  }

  .loginIcon {
    font-size: 70%;
  }
  
}